PORT=5000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=quanly_cuahangtaphoa

JWT_SECRET=super_secret_jwt_key_grocery_store_2026
JWT_EXPIRES_IN=30m
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_grocery_store_2026
JWT_REFRESH_EXPIRES_IN=7d

# CẤU HÌNH GOOGLE OAUTH 2.0 & TÀI KHOẢN ADMIN QUẢN TRỊ (Bàn giao dự án)
GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
ALLOWED_ADMIN_GOOGLE_EMAILS=hoangthuclinh64@gmail.com
